*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h2{
	margin-top: 10px;
}

ul{
	list-style: none;
}


#menu{
	margin-bottom: 5px;
	height: 3em;
}

#menu li{
	float: left;
	display: inline-block;
	height: 100%;
	width: 33%;
	margin-left: 3px;
	background: #FFC620;
}

#menu li a{
	display: block;
	height: 3em;
	text-decoration: none;
	padding: 1em;
	color: #ffffff;
	text-align: center;
}

#menu li a:hover{
	background: rebeccapurple;
}


.content ul li{
	margin-top: 10px;
	margin-right: 20px;
}

.title{
	padding: 20px;
	float: left;
	color: #fff;
	background: aqua;
	height: 80vh;
	margin-right: 20px;
}

.content{
	float: left;
	height: 80vh;
}

.list1 li{
	display: inline-block;
}


.sub{
	font-weight: bold;
}

#back{
	text-decoration: none;
	background: #FFC620;
	color: #ffffff;
	border-radius: 6px;
	padding: 10px;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

#back:hover{
	background: rebeccapurple;
}

