*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1{
	background: gray;
	color: #ffffff;
	padding: 15px;
}

h2{
	float: left;
	background: #808099;
	font-size: 16px;
	padding: 0 20px;
	height: 98px;
	line-height: 98px;
}

ul{
	float: left;
	list-style: none;
}

ul li{
	margin-left: 10px;
}

ul li:nth-child(1){
	margin-top: 10px;
}

.list1 li{
	display: inline-block;
}

.list2 p{
	display: inline-block;
}

.sub{
	font-weight: bold;
}

.content div{
	height: 100px;
	border: 1px solid chartreuse;
}

.clearfix:after{
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

.clearfix{
	*zoom:1;
}