*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1{
	background: gray;
	color: #ffffff;
	padding: 15px;
}

h2{
	float: left;
	background: #808099;
	font-size: 16px;
	padding: 0 20px;
	height: 98px;
	line-height: 98px;
}

#menu{
	margin-bottom: 5px;
	height: 3em;
}

#menu li{
	float: left;
	display: inline-block;
	height: 100%;
	width: calc(100%/3);
	background: #FFC620;
}

#menu li a{
	display: block;
	height: 3em;
	text-decoration: none;
	padding: 1em;
	color: #ffffff;
	text-align: center;
}

#menu li a:hover{
	background: rebeccapurple;
}

.content ul{
	float: left;
	list-style: none;
}

.content ul li{
	margin-left: 10px;
}

.content ul li:nth-child(1){
	margin-top: 10px;
}


.list1 li{
	display: inline-block;
}

.list2 p{
	display: inline-block;
}

.sub{
	font-weight: bold;
}

.content div{
	height: 100px;
	border: 1px solid chartreuse;
}

.clearfix:after{
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

.clearfix{
	*zoom:1;
}

#back{
	text-decoration: none;
	background: #FFC620;
	color: #ffffff;
	border-radius: 6px;
	padding: 10px;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

#back:hover{
	background: rebeccapurple;
}

#about-me{
	background: #FFC620;
	color: #ffffff;
	border-radius: 6px;
	padding: 10px;
	position: absolute;
	right: 180px;
	bottom: 10px;
}

#greeting{
	background: #FFC620;
	color: #ffffff;
	border-radius: 6px;
	padding: 10px;
	position: absolute;
	right: 280px;
	bottom: 10px;
}

#about-me:hover, #greeting:hover{
	background: rebeccapurple;
}