*{
	margin: 0 auto;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

ul{
	list-style: none;
	padding: 0;
}

a{
	color: #BCC3CF;
	text-decoration: none;
}

.wrapper{
	height: 100%;
	min-width: 1366px;
	min-height: 732px;
	overflow: hidden;
}


/* 清楚浮动 */
.clearfix:after{
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

.clearfix{
	*zoom:1;
}

/*Common user info*/
.user-info img{
	border-radius: 50%;
	height: 45px;
	width: 45px;
}

.user-info .user-details{
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
	padding-top: 3px;
}

.user-info .user-details h2 {
	font-size: 0.9em;
}

.user-info .user-details p{
	font-size: 0.8em;
	color: #BABABA;
}

/* Common icon setting */
.notification{
	float: right;
	width: 27px;
	height: 22px;
	line-height: 22px;
	text-align: center;
}

.notification a{
	display: inline-block;
}

.notification i{
	font-size: 2em;
	padding-left: 12px;
}

.notification.normal{
	border-radius: 40%;
	color: #ffffff;
	background: #4796E8;
}

.notification.user{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	color: #ffffff;
	background: #4796E8;
}

.notification.danger{
	background: #CB4B33;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 50%;
	font-weight: bold;
}



/* left section*/
#left{
	position: relative;
	float: left;
	height: 100vh;
	width: 6.5%;
	text-align: center;
	background: #1F2530;
}

/*Top icons setting*/
#top{
	position: absolute;
	top: 2.5%;
	left: 20px;
}

#top a{
	display: block;
	width: 60px;
	height: 60px;
	margin-bottom: 20px;
	background: url("../img/icon--app.png");
}

#top a:nth-child(2){
	background-position: 0 -80px;
}

#top a:nth-child(3){
	background-position: 0 bottom;
}

#top a:nth-child(4){
	background: transparent;
	line-height: 60px;
	width: 60px;
	border-radius: 50%;
	margin-bottom: 20px;
	font-size: 1.5em;
	color: #303948;
	border: 3px solid #303948;
}


/* Bottom Icons setting */
#bottom{
	position: absolute;
	width: 100%;
	bottom: 1.5%;
}

#bottom a{
	display: inline-block;
	width: 30%;
	color: #495363;
	font-size: 1.2em;
}


/* middle section*/
#mid{
	position: relative;
	float: left;
	height: 100vh;
	width: 250px;
	padding: 25px;
	background: #242C3B;
	overflow-y: auto;
}

#mid::-webkit-scrollbar{
	width: 0;
}

/* middle section common setting*/
#mid p, a, span{
	font-size: 0.75em;
}


#mid i{
	margin-right: 8px;
}

#mid ul li{
	margin-bottom: 10px;
}


#menu p, #products p, #dashboard p{
	margin-bottom: 15px;
	color: #4A5463;
}

/* break line*/
#mid .breakline{
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0.5px solid #2C3545;
}


/* mid monthly-goals setting*/
#monthly-goals{
	position: absolute;
	bottom: 1.5%;
	left: 20px;
	width: 200px;
	color: #ffffff;
}

#monthly-goals p{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 5px;
	margin-right: 42px;
}

#monthly-goals span{
	vertical-align: top;
}

#dashboard .menu-item{
	position: relative;
}

#dashboard .active{
	color: #ffffff;
}

#dashboard .active:after{
	content: '';
	position: absolute;
	top: 60%;
	left: -22px;
	transform: translateY(-50%);
	width: 4px;
	height: 4px;
	background: #2399f1;
	box-shadow: 0 0 10px 2px rgba(35, 153, 241, .47);
	border-radius: 50%;
}

#monthly-goals .progress{
	position: relative;
	height: 4px;
	width: 100%;
	border-radius: 2px;
	background: #2d3848;
	overflow: hidden;
}

#monthly-goals .progress:after{
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	width: 20%;
	height: 100%;
	border-radius: 2px;
	background: linear-gradient(to right, #7f5be6, #9d8fe3);
}

/* right section */
#right{
	float: left;
	height: 100vh;
	width: calc(93.5% - 250px);
}

/* Right section title*/
#right-title{
	position: relative;
	border-bottom: 1px solid #E7E9EC;
}

#right-title h1{
	padding: 18px 0 18px 30px;
	font-weight: normal;
}

#right-title .user-info.title:before{
	content: '';
	position: absolute;
	right: 170px;
	bottom: 4px;
	width: 20px;
	height: 20px;
	background: #ffffff;
	border-radius: 50%;
}

#right-title .user-info.title:after{
	content: '';
	position: absolute;
	right: 172px;
	bottom: 6px;
	width: 10px;
	height: 10px;
	border: 3px solid #38a76a;
	border-radius: 50%;
}

/* User information */
.user-info.title{
	position: absolute;
	top: 10px;
	right: 35px;
}


.user-info.title i{
	vertical-align: top;
	margin-left: 50px;
	padding-top: 10px;
	font-size: 1.5em;
	color: #BABABA;
}

/* Content position setting */
#right-content{
	width: 100%;
	height: calc(100% - 70px);
}

#content-left{
	float: left;
	width: 370px;
	height: 100%;
	border-right: 1px solid #E7E9EC;
}

#content-right{
	float: left;
	width: calc(100% - 370px);
	height: 100%;
}

/*Left content*/
#search-bar{
	position: relative;
	height: 60px;
	padding: 15px 30px;
	border-bottom: 1px solid #E7E9EC;
}

#search-bar input{
	width: 100%;
	padding: 5px 5px 5px 10px;
	border: 1px solid #E7E9EC;
	border-radius: 3px;
}

#search-bar a{
	font-size: 1.2em;
	position: absolute;
	top: 16px;
	right: 40px;
	color: #E7E9EC;
}

/* friend list*/
#friend-list{
	height: calc(100% - 60px);
	overflow-y: auto;
}

#friend-list::-webkit-scrollbar{
	width: 0;
}

#friend-list .user-details{
	display: inline-block;
	width: 180px;
}

#friend-list .notification-time{
	display: inline-block;
	vertical-align: top;
	text-align: right;
	margin-left: 10px;
	width: 80px;
	padding-top: 10px;
	font-weight: bold;
	font-size: 0.75em;
	color: #7F8DA1;
}

#friend-list ul li{
	border-bottom: 1px solid #E7E9EC;
}

#friend-list ul li:first-child{
	border-left: 3px solid #4796E8;
}

#friend-list ul li:first-child .message{
	display: inline-block;
	width: 90%;
}

#friend-list .user-info > .user-details i{
	vertical-align: top;
	margin: 0 5px 0 0;
	padding-top: 5px;
	font-size: 0.9em;
}

#friend-list .user-info{
	margin-left: 10px;
	padding-top: 10px;
}

#friend-list .user-info .active{
	color: #008FE8;
}

#friend-list .message{
	padding: 5px 20px;
	margin:3px 0 6px 0;
	font-size: 0.75em;
}

.notification-wrapper{
	display: inline-block;
	width: 10%;
	margin-left: -30px;
	padding-bottom: 5px;
}


/* Status info*/
#status-info{
	position: relative;
	height: 60px;
	width: 100%;
	border-bottom: 1px solid #E7E9EC;
}

#status-info h2{
	display: inline-block;
	vertical-align: top;
	padding: 19px;
	font-weight: normal;
	font-size: 1em;
}

#status-info h2 i{
	margin-left: 8px;
	color: #5BB54A;
}

.btn-set{
	position: absolute;
	right: 25px;
	top:14px;
}

.btn-left, .btn-right{
	display: inline-block;
	vertical-align: top;
	border: 1px solid #E7E9EC;
	border-radius: 3px;
}

.btn-set a{
	float: left;
	background:#F9FAFB;
}

.btn-set i{
	height: 30px;
	width: 34px;
	padding: 7px 10px;
	font-size: 16px;
	color: #CED0D9;
}


.btn-left a:nth-child(-n+2){
	border-right: 1px solid #E7E9EC;
}

.btn-left i{
	padding: 8px 11px;
}

.btn-right i{
	padding: 8px 15px;
}

.btn-right a:first-child{
	border-right: 1px solid #E7E9EC;
}

#status-info .page{
	display: inline-block;
	vertical-align: top;
	height: 32px;
	line-height: 32px;
	padding-left: 20px;
	margin: 0 20px;
	font-weight: bold;
	font-size: 0.8em;
	color: #7F8DA1;
	border-left: 1px solid #E7E9EC;
}

/*User Post*/

#user-post{
	height: calc(100% - 60px);
	overflow-y: auto;
}

#user-post::-webkit-scrollbar{
	width: 0;
}

#user-post #first{
	border-bottom: 1px solid;
}

#user-post .notification-time{
	display: inline-block;
	vertical-align: top;
	margin-left: 8px;
	width: 80px;
	padding-top: 2px;
	font-weight: bold;
	font-size: 0.75em;
	color: #7F8DA1;
}

#user-post .breakline-with-detail{
	margin: 15px 0 5px 0;
	font-size: 0;
}

#user-post .breakline-with-detail hr{
	display: inline-block;
	border: 1px solid #E7E9EC;
	width: 40%;
	margin: 0;
}

#user-post .breakline-with-detail p{
	text-align: center;
	width: 20%;
	display: inline-block;
	font-size: 12px;
	color: #A7B1BE;
}

#user-post .breakline-with-detail.new p{
	color: #4796E8;
}

#user-post .breakline-with-detail.new hr{
	border: 1px solid #4796E8;
}

#user-post .user-info{
	margin-left: 20px;
	padding: 12px 55px 0 0;
}

#user-post .user-details{
	width: calc(100% - 70px);
}

#user-post .user-details h2{
	display: inline-block;
	vertical-align: top;
}

#user-post .user-details p{
	color: #A4A6AD;
}

.img-post{
	margin-top: 10px;
}

.img-wrapper{
	display: inline-block;
	position: relative;
	height: 90px;
	width: 150px;
	margin-right: 10px;
	border-radius: 5px;
}

.img-wrapper:nth-child(1){
	background: url("../img/pic_1.png");
	background-size: 150px 90px;
}

.img-wrapper:nth-child(2){
	background: url("../img/pic_2.png");
	background-size: 150px 90px;
}

.img-wrapper .content{
	display: block;
	height: 100%;
	width: 100%;
	opacity: 0;
	background: #565D62;
	border-radius: 5px;
	transition: opacity 0.1s ease;
}

.img-wrapper:hover > .content{
	opacity: 0.8;
}

.user-details .img-wrapper a{
	position: absolute;
	display: block;
	padding: 6px 8px;
	top:30px;
	left: 60px;
	border: 1px solid transparent;
	border-radius: 50%;
	background: rgba(206, 208, 216, 0.9);
}

.user-details .img-wrapper i{
	font-size: 16px;
	color: #ffffff;
}


#third .reply{
	width: 95%;
	height: 50px;
	margin-top: 8px;
	border: 1px solid #E7E9EC;
	border-radius: 5px;
	overflow: hidden;
}

#third .reply span{
	display: inline-block;
	text-align: center;
	height: 50px;
	line-height: 50px;
	color: #929CAF;
}

#third .reply span:nth-of-type(1){
	border-right: 1px solid #E7E9EC;
	width: 50px;
	margin-right: 10px;
	font-size: 20px;
	background: #FAFBFC;
}


