*{
	padding: 0;
	margin: 0;
	font-size: 12px;
}

body {
	width: 980px;
	height: 1386px;
	margin: 0 auto;
	font-family: "STHeiti",sans-serif;
}

a,
a:focus,
a:visited {
	text-decoration: none;
}

/* Header */
header {
	position: relative;
	width: 892px;
	border-bottom: 2px solid #938e8c;
}

.header-box {
	position: relative;
	width: 110px;
	height: 61px;
	background: #d45d5c;
}

.header-box a {
	position: absolute;
	bottom: 0;
	left: 5px;
	color: #fff;
}

#header-date {
	position: absolute;
	bottom: 0;
	right: 0;
	color: #d45d5c;
}

/*
** Main
*/
#img-section{
	box-sizing: border-box;
	display: flex;
	width: 892px;
	margin-top: 30px;
}

#content-left{
	flex: 0 0 641px;
	position: relative;
	margin-right: 48px;
}

#img-left{
	position: relative;
	width: 641px;
	height: 301px;
}

#content-left:after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 191px;
	height: 301px;
	opacity: 0.7;
	background: #d45d5c;
}

#content-left:before{
	z-index: 999;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 191px;
	height: 301px;
	opacity: 0.7;
	background: #38a76a;
}

#content-right{
	flex:  0 0 203px;
	height: 301px;
	border-top: 2px solid #cc8091;
}

#content-right p{
	line-height: 100%;
	font-family: "Microsoft YaHei",sans-serif;
}

#content-right .first-upper {
	display: inline-block;
	position: relative;
	margin: 10px 0 5px 0;
	font-size: 20px;
}

.first-upper:first-letter {
	font-size: 24px;
}

#content-right .first-upper:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #000;
}

#content-right .sub-msg {
	color: #676767;
	font-style:italic;
	line-height: 10px;
	font-family: "STKaiti", sans-serif;
}


.super-big-font {
	margin: 15px 0 15px -20px;
	font-style:italic;
	font-size: 116px;
	color: #75b86b;
}

#last-textarea{
	display: flex;
	margin-top: 0;
	color: #cc8091;
}

#area-left{
	flex: 0 0 55px;
}

#area-left p{
	font-size: 55px;
}

#area-right{
	padding-top: 18px;
	padding-left: 10px;
	flex: 0 0 148px;
}

#area-right p:first-child{
	font-size: 21px;
}

#area-right p:last-child{
	color: #676767;
}

/*
*intro-section
*/
#intro-section{
	margin-top: 20px;
	display: flex;
	width: 641px;
	line-height: 16px;
	font-family: "Microsoft YaHei", sans-serif;
}

#intro-section h3{
	text-decoration: underline;
	margin-bottom: 15px;
	font-size: 16px;
}

#intro-left{
	flex: 0 0 35%;
	margin-right: 30px;
}

#intro-left h3{
	color: #418c59;
}

#intro-mid{
	flex: 0 0 35%;
	margin-right: 30px;
}

#intro-mid h3{
	color: #d2994f;
}

#intro-right{
	flex: 0 0 20%;
}

#intro-right h3{
	color: #cc7680;
}

#right-percent{
	padding-left: 3px;
	margin-top: 50px;
}

#right-percent span{
	font-style: italic;
	opacity: 0.7;
	color: #cd4a48;
}

/*
* section three
*/
#section-three{
	display: flex;
	width: 892px;
	margin-top: 100px;
}

#three-left {
	flex: 0 0 415px;
	margin-right: 18px;
}

#left-title{
	padding-bottom: 10px;
	margin-bottom: 16px;
	border-bottom: 2px solid #11456b;
	color: #11456b;
}


#left-title h3:first-child{
	font-size: 42px;
	line-height: 42px;
}

#left-title h3:nth-child(2){
	margin-top: 16px;
	font-size: 33px;
}

#left-title span{
	line-height: 72px;
	font-style: italic;
	font-size: 72px;
	color: #f5e327;
}

#left-detail p{
	display: inline-block;
	color: #767777;
}

#left-detail span{
	float: left;
	margin-top: -5px;
	padding: 5px;
	font-size: 70px;
	color: #f5e327;
}

#left-detail img{
	float: right;
	padding: 16px;
	width: 160px;
	height: 310px;
}

#three-right {
	flex: 0 0 458px;
}

#right-img {
	position: relative;
	width: 458px;
	height: 275px;
	background: url(2.jpg);
	background-size: 458px 275px;
}

#right-img .text-wrapper{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 61px;
	width: 458px;
	background: #2d3848;
	color: #72b16a;
	opacity: 0.8;
}

#right-img p {
	margin: 7px 0 0 40px;
	border-left: 3px solid #72b16a;
	padding-left: 10px;
	line-height: 44px;
	font-style: italic;
}


#right-img span{
	margin-right: 6px;
	font-style: normal;
	font-size: 26px;
	color: #fff;
}

#right-bottom {
	position: relative;
	margin-top: 75px;
	width: 459px;
	height: 318px;
	background: #72b16a;
}

#right-bottom div:last-child{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 160px;
	width: 260px;
	background: #d45d5c;
}