*{
	padding: 0;
	margin: 0;
	font-size: 12px;
}

body {
	width: 980px;
	height: 1386px;
	margin: 0 auto;
}

a,
a:focus,
a:visited {
	text-decoration: none;
}

/* Header */
header {
	position: relative;
	width: 892px;
	border-bottom: 2px solid #938e8c;
}

.header-box {
	position: relative;
	width: 110px;
	height: 61px;
	background: #d45d5c;
}

.header-box a {
	position: absolute;
	bottom: 0;
	left: 5px;
	color: #fff;
}

#header-date {
	position: absolute;
	bottom: 0;
	right: 0;
	color: #d45d5c;
}

/*
** Main
*/
#img-section{
	box-sizing: border-box;
	display: flex;
	width: 892px;
	margin-top: 30px;
}

#content-left{
	flex: 0 0 641px;
	position: relative;
	margin-right: 48px;
}

#img-left{
	position: relative;
	width: 641px;
	height: 301px;
}

#content-left:after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 191px;
	height: 301px;
	opacity: 0.7;
	background: #d45d5c;
}

#content-left:before{
	z-index: 999;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 191px;
	height: 301px;
	opacity: 0.7;
	background: #38a76a;
}

#content-right{
	flex:  0 0 203px;
	height: 301px;
	border-top: 2px solid #cc8091;
}

.first-upper {
	font-size: 24px;
	text-decoration: underline;
}

.first-upper:first-letter {
	font-size: 30px;
}

.sub-msg {
	color: #676767;
	font-style:italic;
}

.super-big-font