*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


#menu{
	margin-bottom: 5px;
	height: 3em;
}

#menu li{
	float: left;
	display: inline-block;
	height: 100%;
	width: calc(100%/5);
	background: #FFC620;
}

#menu li a{
	display: block;
	height: 3em;
	text-decoration: none;
	padding: 1em;
	color: #ffffff;
	text-align: center;
}

#menu li a:hover{
	background: rebeccapurple;
}

.left{
	float: left;
	background: gold;
	width: 190px;
	height: 200px;
}

.center{
	float: left;
	background: greenyellow;
	width: calc(100% - 380px);
	height: 200px;
}

.right{
	float: right;
	background: aqua;
	width: 190px;
	height: 200px;

}