*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


#menu{
	margin-bottom: 5px;
	height: 3em;
}

#menu li{
	float: left;
	display: inline-block;
	height: 100%;
	width: calc(100%/5);
	background: #FFC620;
}

#menu li a{
	display: block;
	height: 3em;
	text-decoration: none;
	padding: 1em;
	color: #ffffff;
	text-align: center;
}

#menu li a:hover{
	background: rebeccapurple;
}


.content{
	position: relative;
}

.left{
	height: 200px;
	width: 100px;
	position: absolute;
	left: 0;
	background: chartreuse;
}

.right{
	height: 200px;
	margin-left: 100px;
	width: calc(100% - 100px);
	background: aqua;
}